* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background: #d8dfee;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    color: #434343;
    font-size: 16px;
}

.conteudo {
    display: flex;
}

.barra-lateral {
    background-color: #ffffff;
    display: grid;
    flex-direction: column;
    border-radius: 20px;
    margin-left: 5%;
    padding: 2%;
    height: 90vh;
    width: 30vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.barra-lateral a {
    color: #434343;
    text-decoration: none;
    font-size: 18px;
    transition: 0.8s;
}

.barra-lateral a:hover{
    color: rgb(57, 192, 255);
}

#linha-horizontal {
    width: 300px;
    height: 2px;
    border-radius: 20px;
    border: 0.5px;
    background-color: #43434334;
}

.sobre {
    margin-left: 10%;
}

.sobre img {
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
    width: 50%;
    height: 100%;
    text-align: center;
}

.card h2 {
    color: #434343;
    margin-top: 20%;
}

.card a {
    padding: 7%;
    font-size: 18px;
    border-radius: 20px;
    background-color: rgb(194, 225, 252);
    top: 10%;
    position: relative;
    width: 40%;
    text-align: center;
    text-decoration: none;
    color: rgb(48, 48, 48);
    font-weight: 700;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 1s;
}

.card a:hover {
    background-color: rgb(178, 203, 224);
    cursor: pointer;
}